{% extends '_layouts/base.njk' %}

{% block page_title %}{{members.name}}{% endblock %}

{% block content %}

<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}
        <img class="img-fluid" src=../img/members/{{members.image}} style="padding-bottom:10px">
        <p style="margin-bottom: 0"> Instruments: {{members.instruments}} </p>
        <p> Tenure in band: {{members.tenure}} </p>
      {% endblock %}
    </div>
    <div class="col-sm-8">
      <h1>{{ members.name }}</h1>
      {% block story %}
        {{members.text | safe}}
      {% endblock %}

    </div>
  </div>
</article>
{% endblock %}
