{% block page_title %}Brian{% endblock %}
{% extends '_layouts/detail.njk' %}
{% set book = data.books[1] %}

{% block info %}
  {{ book.title }}
{% endblock %}

{% block story %}
  <h2>Brian May: One of the Ignored</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}
