{% block page_title %}Freddie{% endblock %}
{% extends '_layouts/detail.njk' %}
{% set book = data.books[1] %}

{% block info %}
  {{ book.title }}
{% endblock %}

{% block story %}
  <h2>Freddie Mercury: The One Member of Queen Everybody Knows</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}
