{% extends '_layouts/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-1">
    <h1>An introduction to Queen</h1>
    <p class="author">By 
      <a href="https://twitter.com/gubrooke" target="_blank">Julia Jones</a>
      <br> Published May 12, 2019
    </p>
    </div>
  </div>
  <div class="graf row">
    <div class="col-xs-12 col-sm-8 col-lg-10 offset-sm-1">
      <p style="margin-bottom: 15px">
        Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals and piano), Brian May (lead guitar and vocals), Roger Taylor (drums and vocals), and John Deacon (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock. 
      </p>
      <p>
        The band’s 1977 album News of the World contained "We Will Rock You" and "We Are the Champions", which have become anthems at sporting events. By the early 1980s, Queen were one of the biggest stadium rock bands in the world. "Another One Bites the Dust" (1980) became their best-selling single, while their 1981 compilation album Greatest Hits is the best-selling album in the UK and is certified eight times platinum in the US. Their performance at the 1985 Live Aid concert has been ranked among the greatest in rock history by various publications. (Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)">Wikipedia</a>)
      </p>
    </div>
  </div>  
      
<h2>Members</h2>    
<div class="members row section">
{% for member in data.members %}
  <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="card">
              <img class="card-img-top img-fluid" src="img/members/{{member.imagebw}}" alt="{{member.name}}">
              <div class="card-body">
                <h5 class="card-title">{{member.name}}</h5>
                <p class="card-text">{{member.instruments}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Read more about <a href="{{member.url}}">{{member.name}}</a></small>
              </div>
            </div> 
    </div>
{% endfor %} 
  </div>
    
    <h2>Albums</h2>    
    <div class="row">
      {% for album in data.discography %}
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="list-unstyled">
        <div class="media">
        <div class="media-body">
          <img class="img-fluid disc" src=img/discs/{{album.image}}>
          <h6 class="font-weight-bold">{{ album.title }} ({{ album.year }})</h6>
        </div>
        </div>
        </div>
      </div>
      {% endfor %}
      <img class= "img-fluid logo d-none d-lg-block" src=../img/queen-logo-black.png>
      </div>



</div>
{% endblock %}
