<link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">

<div class="jumbotron banner text-center">
  <h1 class="text hed">Queen</h1>
  <p class="text sub" style="background-color:rgba(0, 0, 0, 0.45)">It's a band</p> 
</div>