.img-fluid {
  width: 100%;
  height: auto;
}

.img-fluid.disc {
  width: 100%;
  height: auto;
}

.logo {
  width: 20%;
  height: 20%;
  margin-top: 80px;
  margin-left: 20px;
}

.logo.d-sm-block {
  width: 40%;
  height: 40%;
}

.logo.d-md-block {
  width: 40%;
  height: 40%;
}