// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "footer";
@import "photos";

h2, p, h6, h4 {
  margin-bottom: 30px;
  font-family: 'Crimson Text', serif;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

.members {
  margin-bottom: 60px;
}

.graf {
  margin-bottom: 30px;
}

h1, h5 {
  font-family: 'Artifika', serif;
}

.card {
  margin-bottom: 10px;
}

p, h6 {
  font-size: 19px;
}

h1 {
  margin-bottom: 20px;
}